
.fixed-navbar {
  background: rgb(0, 113, 188);
  background: linear-gradient(90deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 1) 100%);
  position: fixed !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  width: 100%;
  z-index: 99;
}

#fixed-navbar .nav-item{
  padding-bottom: 13px;
}

.page-nav-link {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 15px;
  transition: all 0.3s ease;
  position: relative!important;
}

.page-nav-link.active {
  font-weight: 600!important; 
}

.page-nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: all 0.2s linear;
  transform: translateX(-50%);
}

.page-nav-link:not(.active):hover::after {
  height: 4.1px;
}

.page-nav-link.active::after {
  content: '';
  position: absolute;
  height: 4.1px;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: all 0.2s linear;
  transform: translateX(-50%);
}

.content-selector-nav-link {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 15px;
  transition: all 0.3s ease;
  position: relative;
}
.content-selector-nav-link.active {
  font-weight: 600!important;
}
.content-selector-nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: all 0.2s linear;
  transform: translateX(-50%);
}
.content-selector-nav-link:hover::after {
  height: 4.1px;
}
.content-selector-nav-link.active::after{
  content: '';
  position: absolute;
  height: 4.1px;
  border-radius: 10px 10px 0 0;
  bottom: 0;
  left: 50%;
  background-color: white;
  transition: all 0.2s linear;
  transform: translateX(-50%);
}