.cursor-pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 10px !important;
}

.custom-btn-transition{
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.custom-btn-transition:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(37, 117, 252, 0.2);
}

.custom-gradient-btn{
  background: linear-gradient(90deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 1) 100%);
  color: white;
  border: none;
  padding: 0.5rem .8rem;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.custom-gradient-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(37, 117, 252, 0.2);
  color: white !important;
}

.custom-gradient-btn::after, .custom-btn-transition::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) scale(0);
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.custom-gradient-btn:active::after, .custom-btn-transition:active::after {
  transform: translate(-50%, -50%) scale(1);
}

.bg-light-dark-blue {
  background: rgb(0, 113, 188);
  background: linear-gradient(90deg, rgba(0, 113, 188, 1) 0%, rgba(41, 171, 226, 1) 100%);
}

.preserve-whitespace {
  white-space: pre-wrap!important;
}

.px-36px {
    padding-right: 36px;
    padding-left: 36px;
}

.text-11 {
    font-size: 11px;
}